<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>R</string>
			<key>Key</key>
			<string>CropColorOkRTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>CropColorOkR</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>MinimumValue</key>
			<real>0</real>
			<key>MaximumValue</key>
			<real>1</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>G</string>
			<key>Key</key>
			<string>CropColorOkGTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>CropColorOkG</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<real>0</real>
			<key>MaximumValue</key>
			<real>1</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>B</string>
			<key>Key</key>
			<string>CropColorOkBTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>CropColorOkB</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>MinimumValue</key>
			<real>0</real>
			<key>MaximumValue</key>
			<real>1</real>
		</dict>
	</array>
</dict>
</plist>
